#title{
  margin: -10px;
}

body{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white;
  background-color: rgb(34, 97, 46);

  font-size: 26px;
}

#main{
  width: 100%;
  height: 100vh;
  margin: auto;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.row{
  display: flex;

  align-items: center;


  padding: 10px;
}

.lenContainer{
  text-align: center;
}

.button-group{
  display: flex;
  flex-direction: column;

  margin: -10px 15px 15px 15px;
}

/*Button Styling for Increase and Decrease*/

.increase{
  width: 30px;
  height: 20px;

  color: white;
  background-color: rgb(26, 57, 38);

  border: 1px white solid;
}

.decrease{
  width: 30px;
  height: 20px;

  color: white;
  background-color: rgb(26, 57, 38);

  border: 1px white solid;
}

.timerDisplay{
  text-align: center;

  border: 9px rgb(26, 57, 38) solid;
  border-radius: 50px;

  width: 250px;
  height: 150px;

  display: flex;
  flex-direction: column;
  justify-content: ;
}

#display-title{
  font-size: 25px;
}

#time-left{
  font-size: 60px;
  font-style: monospace;
}

.main-buttons{
  width: 120px;
  height: 30px;

  font-size: 15px;
  font-weight: 600;
  font-family: monospace;
  text-align: center;

  background-color: inherit;
  border: 3px rgb(26, 57, 38) solid;
}

button.main-buttons {
  margin: 2px;
}

button:focus{
  outline: none;
}

#footer{
  text-align: center;

  font-size: 18px;
  font-family: Tahoma, Geneva, sans-serif;

  color: rgb(121, 0, 0);
}

#myName{
  color: rgb(12, 69, 45);
}
